.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2%;

  width: 100%;

  background-color: #0c16306b;
  backdrop-filter: blur(8px);
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2%;

  width: 95%;
  max-width: 1000px;


}